.profile {
    max-width: var(--mxw1240);
}

.user-action-section {
    max-width: 370px;
    min-height: 352px;
    background-color: var(--color5);
    padding: var(--pg30);
}

.action-info {
    max-width: 830px;
}

.user-info-section {
    background-color: var(--color5);
    width: 100%;
    min-height: 296px;
    padding: 40px;
}

@media (max-width:768px) {
    .user-action-section {
        display: none;
    }

    .user-info-section {
        padding: 25px 15px;
        min-height: 219px;
    }

    .user-info-section.info-row.container {
        padding: 0;
    }
}
